.court {
  margin: 2px;
  padding: 2px;
  border: 2px solid rgb(148, 148, 148);
  border-radius: 3px;
  background-color: #fff;
  min-width: 0;
  min-height: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: box-shadow 0.3s ease-in-out 0s;
}

.court:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.available:active {
  background-color: #eee;
}

.available {
  border-top: 5px solid #41b3a3;
}

.occupied {
  border-top: 5px solid #c38d9e;
}

.courtName {
  margin-top: 1px;
  margin-bottom: 5px;
  font-size: 12px;
}
