.court {
  margin: 2px;
  padding: 2px;
  border: 2px solid rgb(148, 148, 148);
  border-radius: 3px;
  background-color: #fff;
  min-width: 0;
  min-height: 0;
}

.available {
  border-top: 5px solid #41b3a3;
}

.occupied {
  border-top: 5px solid #c38d9e;
}

.courtName {
  margin-top: 1px;
  margin-bottom: 5px;
  font-size: 12px;
}

.playerName {
  margin-top: 1px;
  margin-bottom: 1px;
}
